body{
    background-image: url(../../assets/img/bgBody.png);
    background-size: cover;
    background-attachment: fixed;
    background-position-y: -65vw;
    margin:0;
    h2{
        text-align: center;
        font-family: 'Press Start 2P', cursive;
    }
    #presentationSection{
        margin: 3vw 0;
        display: flex;
        justify-content: center;
        &.disable{
            display: none;
        }
    }
    #equipeSection {
        margin: 3vw 0;
        display: flex;
        justify-content: center;
        &.disable{
            display: none;
        }
    }
    .content{
        border-top-left-radius: 100px;
        border-bottom-right-radius: 100px;
        border-top: 2px solid rgb(14, 8, 49);
        border-left: 2px solid rgb(14, 8, 49);
        border-right: 2px solid rgb(30, 17, 99);
        border-bottom: 2px solid rgb(30, 17, 99);
        width: 80vw;
        padding: 2vw;
        background-color: rgba(255,255,255,0.8);
    }
    .text{
        font-size: 19px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .listMembre{
            padding:0;
            display:flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            li{
                margin:3vw;
                list-style: none;
            }
        }
    }
    #imgHistorique{
        width: 90%;
    }
}
