#equipeSection {
    display: flex;
    justify-content: center;
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        .leader{
            width: 80%;
            margin-bottom: 3vw;
            border: 3px solid rgb(14, 8, 49);
            height: 15.4vw;
            display: flex;
            &.left{
                border-top-left-radius: 100px;
                border-bottom-left-radius: 100px;
                border-bottom-right-radius: 50px;
                border-top-right-radius: 50px;
            }
            &.right{
                border-top-left-radius: 50px;
                border-bottom-left-radius: 50px;
                border-bottom-right-radius: 100px;
                border-top-right-radius: 100px;
            }
            justify-content: space-between;
            .logoLeader {
                img {
                    border-radius: 100px;
                    border: 2px solid rgb(14, 8, 49);
                    width: 15vw;
                    height: 15vw;
                }
            }
            .descriptionLeader {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0 3vw 2vw 3vw;
                .leaderTitle {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    h3 {
                        margin: 1vw 0 0 0;
                    }
                    .legend {
                        font-style: italic;
                    }
                }
                .blablaLeader{
                    height: 100px;
                    overflow-y: scroll;
                }
            }
        }
    }
}
