#footer{
    background-color: rgb(14, 8, 49);
    text-align: center;
    color: #fff;
    padding: 1vw 0;
    width: 100vw;
    a{
        color: #fff;
    }
    #credit{
        margin: 1vw 0;
    }
}