header{
    #bann{
        width: 100vw;
        height: 50vw;
        background-image: url(../../assets/img/logoNPNGArumiah.jpg);
        background-position-x: center;
        background-position-y: -15vw;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: right;
    }
    #title{
        width: 100vw;
        background-color: rgb(206, 206, 206);
        margin: -13vw 0;
        height: 17vw;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        border-top: 3px solid rgb(14, 8, 49);
        display: flex;
        justify-content: center;
        align-items: center;
        h1{
            font-size: 5vw;
            font-family: 'Press Start 2P', cursive;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-image: -webkit-linear-gradient(top,rgb(14, 8, 49),rgb(38, 23, 117),rgb(14, 8, 49));
            background-size: 50vw;
            background-position-x: 0vw;
            animation: bgTranslate 15s linear infinite;
        }
  @keyframes bgTranslate {
    0% {
      background-position-y:   0vw;
    }
    100% {
      background-position-y: 100vw;
    }
        }
    }
}
.bannCredit{
    width: 80px;
    background-color: rgba(255,255,255,0.4);
    a{
        color: #000;
    }
}