nav{
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    height: 8vw;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    .navButton{
        width: 50vw;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 3px solid rgb(14, 8, 49);
        background-image: -webkit-linear-gradient(top, rgb(206, 206, 206),rgb(236, 236, 236));
        &:hover{
            cursor: url(../../assets/img/pointeur.png), pointer;
            background-image: -webkit-linear-gradient(bottom, rgb(206, 206, 206),rgb(236, 236, 236));
        }
        &.presentation{
            border-bottom-left-radius: 50%;
            border-right: 0.5px solid rgb(14, 8, 49);
        }
        &.equipe{
            border-bottom-right-radius: 50%;
            border-left: 0.5px solid rgb(14, 8, 49);
        }
    }
    a{
        text-decoration: none;
        color: #000;
        font-size: 20px;
        font-family: 'Press Start 2P', cursive;
        &:hover{
            cursor: url(../../assets/img/pointeur.png), pointer;
        }
    }
    margin-top: 9vw;
}