body {
  background-image: url(../../assets/img/bgBody.png);
  background-size: cover;
  background-attachment: fixed;
  background-position-y: -65vw;
  margin: 0;
}
body h2 {
  text-align: center;
  font-family: "Press Start 2P", cursive;
}
body #presentationSection {
  margin: 3vw 0;
  display: flex;
  justify-content: center;
}
body #presentationSection.disable {
  display: none;
}
body #equipeSection {
  margin: 3vw 0;
  display: flex;
  justify-content: center;
}
body #equipeSection.disable {
  display: none;
}
body .content {
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top: 2px solid #0e0831;
  border-left: 2px solid #0e0831;
  border-right: 2px solid #1e1163;
  border-bottom: 2px solid #1e1163;
  width: 80vw;
  padding: 2vw;
  background-color: rgba(255, 255, 255, 0.8);
}
body .text {
  font-size: 19px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .text .listMembre {
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
body .text .listMembre li {
  margin: 3vw;
  list-style: none;
}
body #imgHistorique {
  width: 90%;
}

header #bann {
  width: 100vw;
  height: 50vw;
  background-image: url(../../assets/img/logoNPNGArumiah.jpg);
  background-position-x: center;
  background-position-y: -15vw;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: right;
}
header #title {
  width: 100vw;
  background-color: #cecece;
  margin: -13vw 0;
  height: 17vw;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-top: 3px solid #0e0831;
  display: flex;
  justify-content: center;
  align-items: center;
}
header #title h1 {
  font-size: 5vw;
  font-family: "Press Start 2P", cursive;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(top, #0e0831, #261775, #0e0831);
  background-size: 50vw;
  background-position-x: 0vw;
  animation: bgTranslate 15s linear infinite;
}
@keyframes bgTranslate {
  0% {
    background-position-y: 0vw;
  }
  100% {
    background-position-y: 100vw;
  }
}

.bannCredit {
  width: 80px;
  background-color: rgba(255, 255, 255, 0.4);
}
.bannCredit a {
  color: #000;
}

nav {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  height: 8vw;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  margin-top: 9vw;
}
nav .navButton {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid #0e0831;
  background-image: -webkit-linear-gradient(top, #cecece, #ececec);
}
nav .navButton:hover {
  cursor: url(../../assets/img/pointeur.png), pointer;
  background-image: -webkit-linear-gradient(bottom, #cecece, #ececec);
}
nav .navButton.presentation {
  border-bottom-left-radius: 50%;
  border-right: 0.5px solid #0e0831;
}
nav .navButton.equipe {
  border-bottom-right-radius: 50%;
  border-left: 0.5px solid #0e0831;
}
nav a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  font-family: "Press Start 2P", cursive;
}
nav a:hover {
  cursor: url(../../assets/img/pointeur.png), pointer;
}

#equipeSection {
  display: flex;
  justify-content: center;
}
#equipeSection .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#equipeSection .content .leader {
  width: 80%;
  margin-bottom: 3vw;
  border: 3px solid #0e0831;
  height: 15.4vw;
  display: flex;
  justify-content: space-between;
}
#equipeSection .content .leader.left {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
}
#equipeSection .content .leader.right {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 100px;
}
#equipeSection .content .leader .logoLeader img {
  border-radius: 100px;
  border: 2px solid #0e0831;
  width: 15vw;
  height: 15vw;
}
#equipeSection .content .leader .descriptionLeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 3vw 2vw 3vw;
}
#equipeSection .content .leader .descriptionLeader .leaderTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#equipeSection .content .leader .descriptionLeader .leaderTitle h3 {
  margin: 1vw 0 0 0;
}
#equipeSection .content .leader .descriptionLeader .leaderTitle .legend {
  font-style: italic;
}
#equipeSection .content .leader .descriptionLeader .blablaLeader {
  height: 100px;
  overflow-y: scroll;
}

#footer {
  background-color: #0e0831;
  text-align: center;
  color: #fff;
  padding: 1vw 0;
  width: 100vw;
}
#footer a {
  color: #fff;
}
#footer #credit {
  margin: 1vw 0;
}

/*# sourceMappingURL=style.css.map */
